<table width="100%" border="1" cellspacing="0">
  <tr>
    <td colspan="12" align="center" bgcolor="#6666FF"> <strong>{{ date }}</strong></td>
  </tr>
  <tr>
    <td bgcolor="#FF9999" width="10%" height="27" ><div align="center"><strong>REFERENCIA</strong></div></td>
    <td bgcolor="#FF9999" width="9%"><div align="center"><strong>CLIENTE</strong></div></td>
    <td bgcolor="#FF9999" width="11%"><div align="center"><strong>ENTRADA</strong></div></td>
    <td bgcolor="#FF9999" width="8%"><div align="center"><strong>SALIDA</strong></div></td>
    <td bgcolor="#FF9999" width="7%"><div align="center"><strong>NOCHES</strong></div></td>
    <td bgcolor="#FF9999" width="10%"><div align="center"><strong>SERVICIO</strong></div></td>
    <td bgcolor="#FF9999" width="4%"><div align="center"><strong>PAX</strong></div></td>
    <td bgcolor="#FF9999" width="8%"><div align="center"><strong>HAB</strong></div></td>
    <td bgcolor="#FF9999" width="6%"><div align="center"><strong></strong><strong>FACT</strong></div></td>
    <td bgcolor="#FF9999" width="7%"><div align="center"><strong></strong><strong>PAGAR</strong></div></td>
    <td bgcolor="#FF9999" width="5%"><div align="center"><strong></strong><strong>COM</strong></div></td>
    <td bgcolor="#FF9999" width="15%"><div align="center"><strong>OBSERVACIONES</strong></div></td>
  </tr>
    {% for item in list %}
          <tr>
            <td height="25" >{{ item.referencia }}</td>
            <td >{{ item.cliente }}</td>
            <td >{{ item.entrada }}</td>
            <td >{{ item.salida }}</td>
            <td >{{ item.n }}</td>
            <td> {{ item.servicio }}</td>
            <td >{{ item.p }}</td>
            <td >{{ item.hab }}</td>
            <td >{{ item.fact }}</td>
            <td >{{ item.pagar }}</td>
            <td >{{ item.com }}</td>
            <td >{{ item.observaciones }}</td>
          </tr>
    {% endfor %}
    {% if total %}
    <tr>
        <td height="25" ><strong>Totales</strong></td>
        <td ><strong>{{ total.cliente }}</strong></td>
        <td ></td>
        <td ></td>
        <td ><strong>{{ total.noche }}</strong></td>
        <td></td>
        <td ><strong>{{ total.pax }}</strong></td>
        <td ></td>
        <td ><strong>{{ total.fact }}</strong></td>
        <td ><strong>{{ total.pagar }}</strong></td>
        <td ><strong>{{ total.com }}</strong></td>
        <td ></td>
    </tr>
    {% endif %}
</table>
