<form class="ajaxForm" method="post"
      action="{{ path('reservacion_actualizar',{ id: entity.id }) }}"  {{ form_enctype(edit_form) }} novalidate="novalidate">
    <div class="form-group">
        {{ form_label(edit_form.agencia, 'booking.reservacion.table.agency'| trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.agencia,{'attr':{ 'class': 'form-control agencia-name' }}) }}

    </div>

    <div class="form-group">
        {{ form_label(edit_form.cliente, 'booking.reservacion.table.client' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.cliente,{'attr':{ 'class': 'form-group' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.checkin, 'booking.reservacion.table.checkin' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.checkin,{'attr':{ 'class': 'form-control dating checkin' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.checkout, 'booking.reservacion.table.checkout' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.checkout,{'attr':{ 'class': 'form-control dating checkout' }}) }}
    </div>



    <div class="form-group">
        {{ form_label(edit_form.noches, 'booking.reservacion.table.night' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.noches,{'attr':{ 'class': 'form-control' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.pax, 'booking.reservacion.table.pax' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.pax,{'attr':{ 'class': 'form-control pax' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.tipoHab, 'booking.reservacion.table.tipoHab' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.tipoHab,{'attr':{ 'class': 'form-control tipoHab' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.precio, 'booking.reservacion.table.price' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.precio,{'attr':{ 'class': 'form-control' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.casa, 'booking.reservacion.table.house' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.casa,{'attr':{ 'class': 'form-control casa-name' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.confirmado, 'booking.reservacion.table.confirmed' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.confirmado,{'attr':{ 'class': 'form-control dating' }}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.observacion, 'booking.reservacion.table.description' | trans({}, 'BookingBundle') ) }}

        {{ form_widget(edit_form.observacion,{'attr':{ 'class': 'form-control' }}) }}
    </div>

    {#<div class="form-group">#}
        {#<button type="submit"#}
                {#class="btn btn-primary action edit">{{ 'booking.reservacion.buttons.accept' | trans({}, 'BookingBundle') }}</button>#}
        {#<button type="button" class="btn btn-success"#}
                {#data-dismiss="modal">{{ 'booking.reservacion.buttons.cancel' | trans({}, 'BookingBundle') }}</button>#}
    {#</div>#}
    {{ form_rest(edit_form) }}

</form>
