<div class="col-md-12">{{ form_errors(form) }}</div>
<form class="ajaxForm" method="post" action="{{ path('actividad_create') }}"  {{ form_enctype(form) }}>
    <div class="control-group">
        {{ form_label(form.fecha, 'booking.actividad.labels.date'| trans({}, 'BookingBundle') ) }}

        {{ form_widget(form.fecha,{'attr':{'class':'form-control dating','data-ng-model':'date'}}) }}

    </div>

    <div class="control-group ">
        {{ form_label(form.hora, 'booking.actividad.labels.hour'| trans({}, 'BookingBundle') ) }}
         <div class="input-append bootstrap-timepicker">
             <span class="add-on"><i class="icon-time"></i>	</span>
             {{ form_widget(form.hora,{'attr':{'class':'form-control timing'}}) }}

         </div>

    </div>

    <div class="control-group">
        {{ form_label(form.lugar, 'booking.actividad.labels.guide' | trans({}, 'BookingBundle')  ) }}

        {{ form_widget(form.lugar,{'attr':{'class':'form-control'}}) }}

    </div>

    <div class="control-group">
        {{ form_label(form.precio, 'booking.actividad.labels.total' | trans({}, 'BookingBundle')  ) }}

        {{ form_widget(form.precio,{'attr':{'class':'form-control'}}) }}

    </div>

    <div class="control-group">
        {{ form_label(form.coordinacion,  'booking.actividad.labels.precioguia'| trans({}, 'BookingBundle')) }}

        {{ form_widget(form.coordinacion,{'attr':{'class':'form-control'}}) }}

    </div>

    <div class="control-group">
        {{ form_label(form.tipoActividad, 'booking.actividad.labels.type' | trans({}, 'BookingBundle')) }}
        <div class="controls">
            <div class="closestActivities">
                <ul data-ng-class="{hidden:activities.length==0}" class="nav nav-stacked">
                    <li data-ng-repeat="activity in activities">

                    </li>

                </ul>
            </div>
            {{ form_widget(form.tipoActividad,{'attr':{'class':'form-control','data-ng-change':'loadClosest()','data-ng-model':'closest'}}) }}
        </div>
    </div>

    <div class="control-group">
        {{ form_label(form.pax, 'booking.actividad.labels.pax' | trans({}, 'BookingBundle')) }}
        <div class="controls">
            {{ form_widget(form.pax,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="control-group">
        {{ form_label(form.reservacion,  'booking.actividad.labels.booking'| trans({}, 'BookingBundle')  ) }}

        {{ form_widget(form.reservacion,{'attr':{'class':'form-control'}}) }}

    </div>

    <div class="control-group">
        <button type="button"
                class="btn btn-primary action">{{ 'booking.actividad.buttons.accept' | trans({}, 'BookingBundle') }}</button>
        <button type="button" class="btn btn-success"
                data-dismiss="modal">{{ 'booking.actividad.buttons.cancel' | trans({}, 'BookingBundle') }}</button>
    </div>
    {{ form_rest(form) }}

</form>
