<div class="col-lg-4 col-md-4">
    <div class="col-md-12">{{ form_errors(form) }}</div>
    <form class="ajaxForm" method="post" action="{{ path('casa_create') }}"  {{ form_enctype(form) }}>
        <div class="control-group">
            {{ form_label(form.nombre, 'booking.casa.table.name'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.nombre) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.direccion, 'booking.casa.table.address' | trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.direccion) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.telefono, 'booking.casa.table.phone' | trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.telefono) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.categoria,  'booking.casa.table.category'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.categoria) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.cantidadHab,  'booking.casa.table.room'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.cantidadHab) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.clima, 'booking.casa.table.air' | trans({}, 'BookingBundle') ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.clima) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.banno,  'booking.casa.table.bath'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.banno) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.disponible,  'booking.casa.table.available'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.disponible) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.observacion,  'booking.casa.table.description'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.observacion) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_label(form.propietario,  'booking.casa.table.owner'| trans({}, 'BookingBundle')  ,{'label_attr':{ 'class': 'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.propietario) }}
            </div>
        </div>
        <div class="control-group">
            <button type="button"
                    class="btn btn-default action">{{ 'booking.casa.actions.acept' | trans({}, 'BookingBundle') }}</button>
            <button type="submit" class="btn btn-default"
                    data-dismiss="modal">{{ 'booking.casa.actions.cancel' | trans({}, 'BookingBundle') }}</button>
        </div>
        {{ form_rest(form) }}

    </form>
</div>