{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Casa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.categoria }}</td>
            </tr>
            <tr>
                <th>Cantidadhab</th>
                <td>{{ entity.cantidadHab }}</td>
            </tr>
            <tr>
                <th>Clima</th>
                <td>{{ entity.clima }}</td>
            </tr>
            <tr>
                <th>Banno</th>
                <td>{{ entity.banno }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ entity.disponible }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('casa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('casa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
